body {
  background-image: url('../media/cloud_mountain_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

main {
  padding: 0 8px 6px 8px;
  height: 100%;
  background-color: rgba(18, 93, 168, 0.781);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 2px 0px 2px rgba(9, 54, 100, 0.781), 0px 3px 1px rgba(9, 54, 100, 0.781);
}
